{% extends "base.html" %}
{% block content %}
<section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                
                <div class="col-lg-4 bg-body-tertiary">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">مواصفات المنتج</h3>
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">{{data.items.nameitems}}</h5>
                      <h5>  {{data.items.price}} ريال سعودي</h5>
                    </div>
  
                  
  
                
  
                    <small class="text-end"> {{data.items.description}}</small>
  
                  
  
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-5">
                        <h5>{{data.total}}</h5>
                      <h5 class="text-uppercase">الإجمالي</h5>
                      
                    </div>
  
                    
  
                  </div>
                </div>

             <div class="col-lg-8">
                    <div class="p-5">
                      <div class="d-flex justify-content-end align-items-center mb-5">
                        <h1 class="fw-bold mb-0"> تفاصيل المنتج</h1>
                        
                      </div>
                      <hr class="my-4">
    
                      <div class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          
                          <img
                            src= "{{ data.items.image.url }}"
                            class="img-fluid rounded-3" alt="Cotton T-shirt">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <h6 class="text-muted">{{data.items.nameitems}}</h6>
                          <h6 class="mb-0">{{data.color}}</h6>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                          <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <i class="fas fa-minus"></i>
                          </button>
    
                          <input id="form1" min="0" name="quantity" value="1" type="number"
                            class="form-control form-control-sm" />
    
                          <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 class="mb-0">€ 44.00</h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                        </div>
                      </div>
    
                      
    
                     
    
                     
                      <div class="pt-5" style="background-">
                        <h6 class="mb-0"><a href="#!" class="text-body"><i
                              class="fas fa-long-arrow-alt-left me-2"></i>مواصلة التسوق</a>
                              <button  onclick="addtoacrt({{data.id}})" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-block btn-lg"
                              data-mdb-ripple-color="danger">اضف الى السلة <i class="bi bi-bag-fill"></i></button>
                              <a  href="{% url 'checkout'  %}"  data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-block btn-lg"
                                data-mdb-ripple-color="dark">الدفع  <i class="bi bi-credit-card-2-back"></i></a>
                            </h6>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock content%}    
